/* you will add css rules for element selectors and IDs */
html {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
/* you may add to or change the body rule */
body {
  font-family: sans-serif;
  color: #000000;
  background: #000;
  margin: 0;
}

img {
  max-width: 100%; /* DO NOT delete or change this line */

}

h2 {
  text-align: left;
}

header {
  background: #A79E90;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-top: 20px;
}

nav ul li {
  margin: 0;
  margin-left: 1rem;
}

#cougar {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  background: #FF9E42;
  justify-content: space-evenly;
}

#lion {
  display: flex;
  flex-direction: row;
  background:#FFD5AE;
  align-self: flex-start;
  color: #333;
  justify-content: space-evenly;
}

#tiger {
  display: flex;
  flex-direction: row;
  background:#FFBD82;
  align-self: flex-start;
  justify-content: space-evenly;
  color: #333;
}

section {
  max-width: 700px;
}

article {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.text {
  color: #333;
  margin: 20px 40px;
  margin-bottom: 50px;
  padding: 0px 40px;
}

section.text a {
  text-decoration: underline;
}

.photo {
  font-size: 1rem;
  margin: 0;
  margin-right: -40px;
  padding: 40px;
}

section.photo a {
  text-decoration: underline;
}

footer {
  background: #A79E90;
  color: #000000;
  text-align: center;
  margin: 0px;
  padding: 30px 20px;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
a:link {
  text-decoration: none;
}

a:hover {

}

/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #070E5F;
}
a:hover {
    color: #0C167D;
}
